@model VoteIndia.Models.QuestionsAnswer

    @{
        ViewBag.Title = "Home Page";
    }
    <style>
        .jumbotron {
            min-height: 100%;
        }
        input[type="radio"] {
            margin: 0 10px 10px 10px;
        }
    </style>
    <div class="row">
        <div class="col-md-8">
             <div class="col-md-8">
                Question :
                @Html.Label("hello", Model.Description)
                Options :
                 <div>
                     @foreach (var option in Model.Options)
                     {
                         @Html.RadioButton("option", @option, false)
                         @Html.Label(@option)
                     }
                 </div>
            </div>
        <div class="col-md-4 jumbotron">
            <p><a class="btn btn-default active" href="#">Who is the best comedian?</a></p>
            <p><a class="btn btn-default" href="#">Who is the best criketer?</a></p>
        </div>
    </div>

